<!DOCTYPE html>
<html lang="en">
<head>
	<title>Add new data</title>
	<meta charset="utf-8">	
</head>
	<body>
		<h2>Add new data:</h2>
		<form action="" method="POST" enctype="application/x-www-form-urlencoded">
			<input type="text" name="txtUser" placeholder="User name"/> <br/>
			<input type="text" name="txtPass" placeholder="Password"/> <br/>
			<!-- <input type="text" name="txtSPO2" placeholder="SPO2"/> <br/> -->
			<!-- <input type="text" name="txtHeartRate" placeholder="Heart rate"/> <br/> -->
			<input type="submit" name="btnAdd" value="Add"/>		
		</form>
	</body>
></html